{{define "profileLink"}}
    <a href="/profile/view/{{.Id}}">{{.Login}}</a>
{{end}}
{{define "profilePicture"}}
    <img src="/profilePic/{{.Id}}" alt="{{.Login}}"/>
{{end}}
{{define "profilePictureLink"}}
    <a href="/profile/view/{{.Id}}">
        {{template "profilePicture" .}}
    </a>
{{end}}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Title - {{.PageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <script type="text/javascript" src="/static/js/wasm_exec.js"/>
        <script type="text/javascript" src="/static/js/main.js"/>
    </head>
    <body>
        <header>
            <h1>{{.PageTitle}}</h1>
            {{if .LoginUrl}}
                <p>
                    {{if .Login}}
                        {{.Messages.WelcomeLabel}} {{.Login}}
                        <a href="{{.LoginUrl}}">{{.Messages.LoginLinkLabel}}</a>
                    {{else}}
                        <a href="{{.LoginUrl}}">{{.Messages.LogoutLinkLabel}}</a>
                    {{end}}
                </p>
            {{end}}
            {{with .ErrorMsg}}
                <div class="error">{{.}}</div>
            {{end}}
            <p>
                {{range .Ariane}}
                    / <a href="{{.Url}}">{{.Name}}</a>
                {{end}}
            </p>
            <ul>
                {{range .SubPages}}
                    <li><a href="{{.Url}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </header>
        <main>
            <h2>
                {{.Messages.EditLabel}} {{.ViewedUser.Login}}
                [<a href="/admin/user/view/{{.ViewedUser.Id}}">{{.Messages.CancelLinkLabel}}</a>]
            </h2>
            <form action="/admin/user/save/{{.ViewedUser.Id}}" method="POST">
                {{range .Groups}}
                    <div>
                        <p>{{.DisplayName}}</p>
                        <ul>
                            {{$groupName := .Name}}
                            {{range .Roles}}
                                <li>
                                    <label>
                                        {{.Name}}
                                        ({{range .Actions}}
                                            {{.}}
                                        {{end}})
                                        <input type="checkbox" name="roles" value="{{.Name}}/{{$groupName}}" checked="true"/>
                                    </label>
                                </li>
                            {{end}}
                            {{range .AddableRoles}}
                                <li>
                                    <label>
                                        {{.Name}}
                                        ({{range .Actions}}
                                            {{.}}
                                        {{end}})
                                        <input type="checkbox" name="roles" value="{{.Name}}/{{$groupName}}"/>
                                    </label>
                                </li>
                            {{end}}
                        </ul>
                    </div>
                {{end}}
                <div><button type="submit">{{.Messages.SaveLinkLabel}}</button></div>
            </form>
        </main>
        <footer>
        </footer>
    </body>
</html>
