
<h2>
    {{.Messages.CreateThreadTitle}}
    <a href="{{.BaseUrl}}" role="button">{{.Messages.CancelLinkLabel}}</a>
</h2>

<form id="createThreadForm" action="{{.BaseUrl}}save" method="POST">
    <label>
        {{.Messages.TitleLabel}}
        <input type="text" id="threadTitleField" name="title"/>
    </label>
    <textarea id="forumMessageField" name="message" rows="5"></textarea>
    <div class="hide">
        {{/* to allow JavaScript or WebAssembly to display a localized error message */}}
        <span id="errorEmptyThreadTitleMessage">{{.Messages.EmptyThreadTitle}}</span>
        <span id="errorEmptyForumMessageMessage">{{.Messages.EmptyForumMessage}}</span>
    </div>
    <button type="button" id="createThreadButton">{{.Messages.CreateLinkLabel}}</button>
</form>
