
<h2>
    {{.Thread.Text}}
    [<a href="{{.BaseUrl}}">{{.Messages.CancelLinkLabel}}</a>]
</h2>


<div class="search">
    <form action="{{.CurrentUrl}}" method="GET">
        <div>
            <label>
                {{.Messages.FilterLabel}}
                <input type="text" name="filter"/>
            </label>
        </div>
        <div class="hidden">
            <input type="text" name="pageNumber" value="1"/>
        </div>
        <div><button type="submit">{{.Messages.FilterLinkLabel}}</button></div>
    </form>
</div>

<div class="pagination">
    {{if .PreviousPageNumber}}
        <form action="{{.CurrentUrl}}" method="GET">
            <div class="hidden">
                <input type="text" name="pageNumber" value="{{.PreviousPageNumber}}"/>
                {{if .Filter}}
                    <input type="text" name="filter" value="{{.Filter}}"/>
                {{end}}
            </div>
            <div><button type="submit">{{.Messages.PreviousPageLinkLabel}}</button></div>
        </form>
    {{end}}

    {{if .NextPageNumber}}
        <form action="{{.CurrentUrl}}" method="GET">
            <div class="hidden">
                <input type="text" name="pageNumber" value="{{.NextPageNumber}}"/>
                {{if .Filter}}
                    <input type="text" name="filter" value="{{.Filter}}"/>
                {{end}}
            </div>
            <div><button type="submit">{{.Messages.NextPageLinkLabel}}</button></div>
        </form>
    {{end}}
</div>

{{$threadId := .Thread.Id}}
{{if .AllowedToCreate}}
    <form id="createForumMessageForm" action="{{.BaseUrl}}message/save/{{$threadId}}" method="POST">
        <div><textarea id="forumMessageField" name="message" rows="20" cols="80">{{.Messages.ResponseMessageLabel}}</textarea></div>
        <div class="hidden">
            {{/* to allow JavaScript or WebAssembly to detect unmodified localized message */}}
            <span id="unmodifiedMessage">{{.Messages.ResponseMessageLabel}}</span>
            {{/* to allow JavaScript or WebAssembly to display a localized error message */}}
            <span id="errorEmptyForumMessageMessage">{{.Messages.EmptyForumMessage}}</span>
        </div>
        <div><button type="button" id="createForumMessageButton">{{.Messages.CreateLinkLabel}}</button></div>
    </form>
{{end}}

<ul>
    {{$baseUrl := .BaseUrl}}
    {{if .AllowedToDelete}}
        {{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
        {{range .ForumMessages}}
            <li>
                <ul>
                    <li>{{template "profilePictureLink" .Creator}}</li>
                    <li>{{.Date}}</li>
                    <li>{{.Text}}</li>
                    <li><a href="{{$baseUrl}}message/delete/{{$threadId}}/{{.Id}}">{{$deleteLinkLabel}}</a></li>
                </ul>
            </li>
        {{end}}
    {{else}}
        {{range .ForumMessages}}
            <li>
                <ul>
                    <li>{{template "profilePictureLink" .Creator}}</li>
                    <li>{{.Date}}</li>
                    <li>{{.Text}}</li>
                </ul>
            </li>
        {{end}}
    {{end}}
</ul>
