
<h2>
    {{.UserLogin}}&nbsp;
    {{if .IsAdmin}}
        [<a href="{{.BaseUrl}}edit/{{.UserId}}">{{.Messages.EditLinkName}}</a>]
        [<a href="{{.BaseUrl}}delete/{{.UserId}}">{{.Messages.DeleteLinkName}}</a>]
    {{end}}
</h2>

<div>
    {{range .Groups}}
        <div>
            <p>{{.DisplayName}}</p>
            <ul>
                {{range .Roles}}
                    <li>
                        <span>
                            {{.Name}}
                            ({{range .Actions}}
                                {{.}}
                            {{end}})
                        </span>
                    <li>
                {{end}}
            </ul>
        </div>
    {{end}}
</div>
