
<h2>
    {{.UserLogin}} ({{.Messages.RegistredAtLabel}} {{.RegistredAt}})
    {{if .AllowedToUpdate}}
        [<a href="/admin/user/edit/{{.UserId}}">{{.Messages.EditLinkLabel}}</a>]
        [<a href="/admin/user/delete/{{.UserId}}">{{.Messages.DeleteLinkLabel}}</a>]
    {{end}}
</h2>

<div>
    {{range .Groups}}
        <div>
            <p>{{.DisplayName}}</p>
            <ul>
                {{range .Roles}}
                    <li>
                        <span>
                            {{.Name}}
                            ({{range .Actions}}
                                {{.}}
                            {{end}})
                        </span>
                    <li>
                {{end}}
            </ul>
        </div>
    {{end}}
</div>
