<form id="loginForm" action="{{.CurrentUrl}}submit" method="POST">
    <div>
        <label>
            {{.Messages.LoginLabel}}
            <input type="text" name="Login"/>
        </label>
    </div>
    <div>
        <label>
            {{.Messages.PasswordLabel}}
            <input type="password" name="Password"/>
        </label>
    </div>
    <div class="hidden">
        <input type="text" id="loginRegisterField" name="Register"/>
        <input type="text" name="Redirect" value="{{.Redirect}}"/>
        <input type="text" name="PrevUrlWithError" value="{{.PrevUrlWithError}}"/>
    </div>
    <div><button type="submit">{{.Messages.LoginLinkName}}</button></div>
    <div><button type="button" id="loginRegisterButton">{{.Messages.RegisterLinkName}}</button></div>
</form>
