
<h2>
    {{.EditTitle}}&nbsp;{{.Group}}/{{.RoleName}}&nbsp;
    [<a href="{{.BaseUrl}}role/list">{{.Messages.CancelLinkName}}</a>]
</h2>

<form action="{{.BaseUrl}}role/save/{{.RoleName}}/{{.Group}}" method="POST">
    <div><input type="checkbox" name="actions" value="access" checked="{{.Access}}" /></div>
    <div><input type="checkbox" name="actions" value="create" checked="{{.Create}}" /></div>
    <div><input type="checkbox" name="actions" value="update" checked="{{.Update}}" /></div>
    <div><input type="checkbox" name="actions" value="delete" checked="{{.Delete}}" /></div>
    <div><input type="submit" value="{{.Messages.SaveLinkName}}"></div>
</form>
