
<h2>{{.Messages.RoleList}}</h2>

<div>
    {{$baseUrl := .BaseUrl}}
    {{$editLinkName := .Messages.EditLinkName}}
    {{$newLinkName := .Messages.NewLinkName}}
    {{range .Groups}}
        <div>
            <p>{{.DisplayName}}</p>
            <ul>
                {{$groupName := .Name}}
                {{range .Roles}}
                    <li>
                        <ul>
                            <li>{{.Name}}</li>
                            <li>
                                {{range .Actions}}
                                    {{.}}
                                {{end}}
                            </li>
                            <li><a href="{{$baseUrl}}edit/{{.Name}}/{{$groupName}}">{{$editLinkName}}</a></li>
                            <!-- TODO delete role link (empty action form) -->
                        </ul>
                    <li>
                {{end}}
                <li><a href="{{$baseUrl}}edit/new/{{$groupName}}">{{$newLinkName}}</a><li>
            </ul>
        </div>
    {{end}}
</div>
