
<h2>{{.Messages.RoleList}}</h2>

{{$baseUrl := .BaseUrl}}
{{$editLinkName := .Messages.EditLinkName}}
{{range .Groups}}
    <div>
        <p>{{.Name}}</p>
        <ul>
            {{$groupName := .Name}}
            {{range .Roles}}
                <li>
                    <ul>
                        <li>{{.Name}}</li>
                        <li>
                            {{range .Actions}}
                                {{.}}
                            {{end}}
                        </li>
                        <li><a href="{{$baseUrl}}role/edit/{{.Name}}/{{$groupName}}">{{$editLinkName}}</a></li>
                    </ul>
                <li>
            {{end}}
        </ul>
    </div>
{{end}}
