
<h2>{{.RoleListTitle}}</h2>

{{range .Groups}}
    <div>
        <p>{{.Name}}</p>
        <ul>
            {{range .Roles}}
                <li>
                    <ul>
                        <li>{{.Name}}</li>
                        <li>
                            {{range .Actions}}
                                {{.}}
                            {{end}}
                        </li>
                        <li><a href="{{.EditBaseUrl}}{{.Name}}/{{.GroupId}}">{{.EditLinkName}}</a></li>
                    </ul>
                <li>
            {{end}}
        </ul>
    </div>
{{end}}
