{{define "profileLink"}}
    <a href="/profile/view/{{.Id}}">{{.Login}}</a>
{{end}}
{{define "profilePicture"}}
    <img src="/profile/picture/{{.Id}}" alt="{{.Login}}" width=100/>
{{end}}
{{define "profilePictureLink"}}
    <div>
        <p><a href="/profile/view/{{.Id}}">{{template "profilePicture" .}}</a></p>
        <p>{{template "profileLink" .}}</p>
    </div>
{{end}}
{{define "search"}}
    <form action="{{.CurrentUrl}}" method="GET" role="search">
        <label>
            {{.Messages.FilterLabel}}
            <input type="search" name="filter"/>
        </label>
        <div class="hide">
            <input type="text" name="pageNumber" value="1"/>
        </div>
        <button type="submit"><span class="material-symbols-outlined">search</span></button>
    </form>
{{end}}
{{define "paginate"}}
    {{if or .PreviousPageNumber .NextPageNumber}}
        <div class="grid">
            {{if .PreviousPageNumber}}
                <form action="{{.CurrentUrl}}" method="GET">
                    <div class="hide">
                        <input type="text" name="pageNumber" value="{{.PreviousPageNumber}}"/>
                        {{if .Filter}}
                            <input type="text" name="filter" value="{{.Filter}}"/>
                        {{end}}
                    </div>
                    <button type="submit"><span class="material-symbols-outlined">chevron_left</span></button>
                </form>
            {{else}}
                <p><button type="button" disabled><span class="material-symbols-outlined">chevron_left</span></button></p>
            {{end}}

            {{if .NextPageNumber}}
                <form action="{{.CurrentUrl}}" method="GET">
                    <div class="hide">
                        <input type="text" name="pageNumber" value="{{.NextPageNumber}}"/>
                        {{if .Filter}}
                            <input type="text" name="filter" value="{{.Filter}}"/>
                        {{end}}
                    </div>
                    <button type="submit"><span class="material-symbols-outlined">chevron_right</span></button>
                </form>
            {{else}}
                <p><button type="button" disabled><span class="material-symbols-outlined">chevron_right</span></button></p>
            {{end}}
        </div>
    {{end}}
{{end}}
<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>SiteTitle - {{.PageTitle}}</title>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200" rel="stylesheet"/>
        <link href="/static/css/pico.min.css" type="text/css" rel="stylesheet"/>
        <link href="/static/css/main.css" type="text/css" rel="stylesheet"/>
        {{.WidgetHeader}}
    </head>
    <body>
        <nav class="container-fluid">
            <ul>
                <li><a href="/"><img src="/favicon.ico"/></a></li>
                <li>{{.PageTitle}}</li>
                {{if .LangSelectorUrl}}
                    <li>
                        <details role="list">
                            <summary>{{.Messages.SelectLangLabel}}</summary>
                            {{$langSelectorUrl := .LangSelectorUrl}}
                            <ul>
                                {{range .AllLang}}
                                    <li><a href="{{$langSelectorUrl}}&lang={{.}}"><img src="/langPicture/{{.}}" alt="{{.}}"/></a></li>
                                {{end}}
                            </ul>
                        </details>
                    </li>
                {{end}}
            </ul>
            {{if .LoginUrl}}
                <ul>
                    {{if .Login}}
                        <li>{{.Messages.WelcomeLabel}} {{template "profileLink" .}}</li>
                        <li><a href="/settings" class="outline" role="button">{{.Messages.PageTitleSettings}}</a></li>
                        {{if .ViewAdmin}}
                            <li><a href="/admin" class="outline" role="button">{{.Messages.PageTitleAdmin}}</a></li>
                        {{end}}
                        <li><a href="{{.LoginUrl}}" class="secondary" role="button">{{.Messages.LogoutLinkLabel}}</a></li>
                    {{else}}
                        <li><a href="{{.LoginUrl}}" class="secondary" role="button">{{.Messages.LoginLinkLabel}}</a></li>
                    {{end}}
                </ul>
            {{end}}
        </nav>
        {{if .SubPages}}
            <nav class="container-fluid">
                <ul>
                    {{range .SubPages}}
                        <li><a href="{{.Url}}">{{.Name}}</a></li>
                    {{end}}
                </ul>
            </nav>
        {{end}}
        <nav class="container-fluid" aria-label="breadcrumb">
            <ul>
                <li><a href="/"><span class="material-symbols-outlined">home</span></a></li>
                {{range .Ariane}}
                    <li><a href="{{.Url}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </nav>
        <div class="container-fluid">
            {{with .ErrorMsg}}
                <h6 class="error">{{.}}</h6>
            {{end}}
            {{.WidgetBody}}
        </div>
        <footer class="container-fluid">
            Made with <a href="https://github.com/dvaumoron/puzzleweb">PuzzleWeb</a> and <a href="https://picocss.com/">Pico.css</a>
        </footer>
        <script src="/static/js/wasm_exec.js"></script>
        <script src="/static/js/wiki_link.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
