
{{template "paginate" .}}

{{$baseUrl := .CurrentUrl}}
{{if .Id}}
    <p><a href="{{$baseUrl}}create" class="secondary" role="button">{{.Messages.NewLinkLabel}}</a></p>
{{end}}

{{$editLinkLabel := .Messages.EditLinkLabel}}
{{range .Images}}
    <article>
        <header>
            <h2>{{.Title}}</h2>
        </header>
        {{$imageId := .ImageId}}
        {{$imageDesc := .Desc}}
        <p><img src="{{$baseUrl}}retrieve/{{$imageId}}" alt="{{$imageDesc}}" width="100"/></p>
        <footer>
            <a href="{{$baseUrl}}edit/{{$imageId}}" class="outline" role="button">{{$editLinkLabel}}</a>
        </footer>
    </article>
{{end}}
