
{{template "search" .}}

{{template "paginate" .}}

{{if .AllowedToCreate}}
    <p><a href="{{.CurrentUrl}}create" class="secondary" role="button">{{.Messages.NewLinkLabel}}</a></p>
{{end}}

{{$baseUrl := .CurrentUrl}}
{{$viewLinkLabel := .Messages.ViewMoreLinkLabel}}
{{if .AllowedToDelete}}
    {{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
    {{range .Posts}}
        <article>
            <header>
                <hgroup>
                    <h2>{{.Title}}</h2>
                    <h3>{{template "profileLink" .Creator}} {{.Date}}</h3>
                </hgroup>
            </header>
            <p>{{.Content}}</p>
            <footer>
                <a href="{{$baseUrl}}view/{{.PostId}}" class="outline" role="button">{{$viewLinkLabel}}</a>
                <a href="{{$baseUrl}}delete/{{.PostId}}" class="contrast" role="button">{{$deleteLinkLabel}}</a>
            </footer>
        </article>
    {{end}}
{{else}}
    {{range .Posts}}
        <article>
            <header>
                <hgroup>
                    <h2>{{.Title}}</h2>
                    <h3>{{template "profileLink" .Creator}} {{.Date}}</h3>
                </hgroup>
            </header>
            <p>{{.Content}}</p>
            <footer>
                <a href="{{$baseUrl}}view/{{.PostId}}" class="outline" role="button">{{$viewLinkLabel}}</a>
            </footer>
        </article>
    {{end}}
{{end}}
