
<header>
    <h1>
        {{.PreviewTitle}}
        <a href="{{.BaseUrl}}" role="button">{{.Messages.CancelLinkLabel}}</a>
    </h1>
</header>

<div>{{.PreviewHTML}}</div>

<form id="publishPostForm" action="{{.BaseUrl}}preview" method="POST">
    <label>
        {{.Messages.TitleLabel}}
        <input type="text" id="postTitleField" name="title" value="{{.PreviewTitle}}"/>
    </label>
    <textarea id="postMarkdownField" name="markdown" rows="20">{{.Markdown}}</textarea>
    <div class="hide">
        {{/* to allow JavaScript or WebAssembly to display a localized error message */}}
        <span id="errorEmptyPostTitleMessage">{{.Messages.EmptyPostTitle}}</span>
        <span id="errorEmptyPostContentMessage">{{.Messages.EmptyPostContent}}</span>
        <span id="errorModifiedMarkdownMessage">{{.Messages.ModifiedMarkdown}}</span>
    </div>
    <button type="submit">{{.Messages.UpdatePreviewLinkLabel}}</button>
    <button type="button" id="publishPostButton">{{.Messages.PublishLinkLabel}}</button>
</form>
