
<h2>
    {{.PreviewTitle}}
    [<a href="{{.BaseUrl}}">{{.Messages.CancelLinkLabel}}</a>]
</h2>

<div>
    {{.PreviewHTML}}
</div>

<form id="publishPostForm" action="{{.BaseUrl}}preview" method="POST">
    <div>
        <label>
            {{.Messages.TitleLabel}}
            <input type="text" id="postTitleField" name="title" value="{{.PreviewTitle}}"/>
        </label>
    </div>
    <div><textarea id="postMarkdownField" name="markdown" rows="20" cols="80">{{.Markdown}}</textarea></div>
    <div class="hidden">
        {{/* to allow JavaScript or WebAssembly to detect unmodified localized message */}}
        <span id="unmodifiedMessage">{{.Messages.UseMarkdownLabel}}</span>    
        {{/* to allow JavaScript or WebAssembly to display a localized error message */}}
        <span id="errorEmptyPostTitleMessage">{{.Messages.EmptyPostTitle}}</span>
        <span id="errorEmptyPostContentMessage">{{.Messages.EmptyPostContent}}</span>
        <span id="errorModifiedMarkdownMessage">{{.Messages.ModifiedMarkdown}}</span>
    </div>
    <div><button type="submit">{{.Messages.UpdatePreviewLinkLabel}}</button></div>
    <div><button type="button" id="publishPostButton">{{.Messages.PublishLinkLabel}}</button></div>
</form>
