
<header>
    <hgroup>
        <h1>
            {{.Post.Title}}
            <a href="{{.BaseUrl}}" role="button">{{.Messages.CancelLinkLabel}}</a>
        </h1>
        <h3>{{.Messages.PostAuthorLabel}} {{template "profileLink" .Post.Creator}}</h3>
        <h3>{{.Messages.PostDateLabel}} {{.Post.Date}}</h3>
    </hgroup>
</header>

<div>{{.Post.Content}}</div>

<br/>

{{template "paginate" .}}

{{$postId := .Post.PostId}}
{{if .AllowedToCreate}}
    <form id="commentForm" action="{{.BaseUrl}}comment/save/{{$postId}}" method="POST">
        <textarea id="commentField" name="comment" rows="5" placeholder="{{.Messages.LeaveCommentLabel}}"></textarea>
        <div class="hide">
            {{/* to allow JavaScript or WebAssembly to display a localized error message */}}
            <span id="errorEmptyCommentMessage">{{.Messages.EmptyComment}}</span>
        </div>
        <button type="button" id="commentButton" class="secondary">{{.Messages.PublishLinkLabel}}</button>
    </form>
{{end}}

{{with .CommentMsg}}
    <h6 class="error">{{.}}</h6>
{{end}}

{{$baseUrl := .BaseUrl}}
{{if .AllowedToDelete}}
    {{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
    {{range .Comments}}
        <article>
            <div class="grid">
                {{template "profilePictureLink" .Creator}}
                <div>
                    <p>{{.Date}}</p>
                    <p>{{.Text}}</p>
                </div>
            </div>
            <footer>
                <a href="{{$baseUrl}}comment/delete/{{$postId}}/{{.Id}}" class="contrast" role="button">{{$deleteLinkLabel}}</a>
            </footer>
        </article>
    {{end}}
{{else}}
    {{range .Comments}}
        <article>
            <div class="grid">
                {{template "profilePictureLink" .Creator}}
                <div>
                    <p>{{.Date}}</p>
                    <p>{{.Text}}</p>
                </div>
            </div>
        </article>
    {{end}}
{{end}}
