
<h2>
    {{.Messages.CreateBlogPostTitle}}
    <a href="{{.BaseUrl}}" role="button">{{.Messages.CancelLinkLabel}}</a>
</h2>

<form id="previewPostForm" action="{{.BaseUrl}}preview" method="POST">
    <label>
        {{.Messages.TitleLabel}}
        <input type="text" name="title" required-message="errorEmptyPostTitleMessage"/>
    </label>
    <textarea name="markdown" rows="20" placeholder="{{.Messages.UseMarkdownLabel}}" required-message="errorEmptyPostContentMessage"></textarea>
    <div class="hide">
        {{/* to allow JavaScript or WebAssembly to display a localized error message */}}
        <span id="errorEmptyPostTitleMessage">{{.Messages.EmptyPostTitle}}</span>
        <span id="errorEmptyPostContentMessage">{{.Messages.EmptyPostContent}}</span>
    </div>
    <button type="button" validate-form="previewPostForm">{{.Messages.PreviewLinkLabel}}</button>
</form>
