
<h2>{{.WikiTitle}}</h2>

<ul>
    {{$baseUrl := .BaseUrl}}
    {{$wikiTitle := .WikiTitle}}
    {{$viewLinkName := .Messages.ViewLinkName}}
    {{$deleteLinkName := .Messages.DeleteLinkName}}
    {{range .Versions}}
        <li>
            <ul>
                <li>{{.Number}}</li>
                <li>{{.Creator.Login}}</li>
                <li><a href="{{$baseUrl}}view/{{$wikiTitle}}?version={{.Number}}">{{$viewLinkName}}</a></li>
                <li><a href="{{$baseUrl}}delete/{{$wikiTitle}}?version={{.Number}}">{{$deleteLinkName}}</a></li>
            </ul>
        <li>
    {{end}}
</ul>
