Css:
    login.css
Js:
    login.js
    login2.js
Body:

{{with .ErrorMsg}}
    <div class="error">{{.}}</div>
{{end}}

<form action="submit" method="POST">
    <div><label for="Login">{{.LoginLabel}}</label></div>
    <div><input type="text" name="Login"/></div>
    <div><label for="Password">{{.PasswordLabel}}</label></div>
    <div><input type="password" name="Password"/></div>
    <div class="hidden">
        <input type="text" name="Register"/>
        <input type="text" name="Redirect" value="{{.Redirect}}"/>
        <input type="text" name="PrevUrlWithError" value="{{.PrevUrlWithError}}"/>
    </div>
    <div><input type="submit" value="{{.LoginLinkName}}"/></div>
    <div><a href="todo">{{.RegisterLinkName}}"</a></div>
</form>
