{{define "profileLink"}}
    <a href="/profile/view/{{.Id}}">{{.Login}}</a>
{{end}}
{{define "profilePicture"}}
    <img src="/profilePic/{{.Id}}" alt="{{.Login}}"/>
{{end}}
{{define "profilePictureLink"}}
    <a href="/profile/view/{{.Id}}">
        {{template "profilePicture" .}}
    </a>
{{end}}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Title - {{.PageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <script type="text/javascript" src="/static/js/wasm_exec.js"/>
        <script type="text/javascript" src="/static/js/main.js"/>
    </head>
    <body>
        <header>
            <h1>{{.PageTitle}}</h1>
            {{if .LoginUrl}}
                <p>
                    {{if .Login}}
                        {{.Messages.WelcomeLabel}} {{.Login}}
                        <a href="{{.LoginUrl}}">{{.Messages.LoginLinkLabel}}</a>
                    {{else}}
                        <a href="{{.LoginUrl}}">{{.Messages.LogoutLinkLabel}}</a>
                    {{end}}
                </p>
            {{end}}
            {{with .ErrorMsg}}
                <div class="error">{{.}}</div>
            {{end}}
            <p>
                {{range .Ariane}}
                    / <a href="{{.Url}}">{{.Name}}</a>
                {{end}}
            </p>
            <ul>
                {{range .SubPages}}
                    <li><a href="{{.Url}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </header>
        <main>
            <div class="search">
                <form action="{{.CurrentUrl}}" method="GET">
                    <div>
                        <label>
                            {{.Messages.FilterLabel}}
                            <input type="text" name="filter"/>
                        </label>
                    </div>
                    <div class="hidden">
                        <input type="text" name="pageNumber" value="1"/>
                    </div>
                    <div><button type="submit">{{.Messages.FilterLinkLabel}}</button></div>
                </form>
            </div>
            <div class="pagination">
                {{if .PreviousPageNumber}}
                    <form action="{{.CurrentUrl}}" method="GET">
                        <div class="hidden">
                            <input type="text" name="pageNumber" value="{{.PreviousPageNumber}}"/>
                            {{if .Filter}}
                                <input type="text" name="filter" value="{{.Filter}}"/>
                            {{end}}
                        </div>
                        <div><button type="submit">{{.Messages.PreviousPageLinkLabel}}</button></div>
                    </form>
                {{end}}
                {{if .NextPageNumber}}
                    <form action="{{.CurrentUrl}}" method="GET">
                        <div class="hidden">
                            <input type="text" name="pageNumber" value="{{.NextPageNumber}}"/>
                            {{if .Filter}}
                                <input type="text" name="filter" value="{{.Filter}}"/>
                            {{end}}
                        </div>
                        <div><button type="submit">{{.Messages.NextPageLinkLabel}}</button></div>
                    </form>
                {{end}}
            </div>
            {{if .AllowedToCreate}}
                <div><a href="{{.CurrentUrl}}create">{{.Messages.NewLinkLabel}}</a></div>
            {{end}}
            <ul>
                {{$baseUrl := .CurrentUrl}}
                {{$viewLinkLabel := .Messages.ViewMoreLinkLabel}}
                {{if .AllowedToDelete}}
                    {{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
                    {{range .Posts}}
                        <li>
                            <ul>
                                <li>{{.Title}}</li>
                                <li>{{template "profileLink" .Creator}}</li>
                                <li>{{.Date}}</li>
                                <li>{{.Content}}</li>
                                <li><a href="{{$baseUrl}}view/{{.PostId}}">{{$viewLinkLabel}}</a></li>
                                <li><a href="{{$baseUrl}}delete/{{.PostId}}">{{$deleteLinkLabel}}</a></li>
                            </ul>
                        </li>
                    {{end}}
                {{else}}
                    {{range .Posts}}
                        <li>
                            <ul>
                                <li>{{.Title}}</li>
                                <li>{{template "profileLink" .Creator}}</li>
                                <li>{{.Date}}</li>
                                <li>{{.Content}}</li>
                                <li><a href="{{$baseUrl}}view/{{.PostId}}">{{$viewLinkLabel}}</a></li>
                            </ul>
                        </li>
                    {{end}}
                {{end}}
            </ul>
        </main>
        <footer>
        </footer>
    </body>
</html>
