{{define "profileLink"}}
    <a href="/profile/view/{{.Id}}">{{.Login}}</a>
{{end}}
{{define "profilePicture"}}
    <img src="/profilePic/{{.Id}}" alt="{{.Login}}"/>
{{end}}
{{define "profilePictureLink"}}
    <a href="/profile/view/{{.Id}}">
        {{template "profilePicture" .}}
    </a>
{{end}}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Title - {{.PageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <script type="text/javascript" src="/static/js/wasm_exec.js"/>
        <script type="text/javascript" src="/static/js/main.js"/>
    </head>
    <body>
        <header>
            <h1>{{.PageTitle}}</h1>
            {{if .LoginUrl}}
                <p>
                    {{if .Login}}
                        {{.Messages.WelcomeLabel}} {{.Login}}
                        <a href="{{.LoginUrl}}">{{.Messages.LoginLinkLabel}}</a>
                    {{else}}
                        <a href="{{.LoginUrl}}">{{.Messages.LogoutLinkLabel}}</a>
                    {{end}}
                </p>
            {{end}}
            {{with .ErrorMsg}}
                <div class="error">{{.}}</div>
            {{end}}
            <p>
                {{range .Ariane}}
                    / <a href="{{.Url}}">{{.Name}}</a>
                {{end}}
            </p>
            <ul>
                {{range .SubPages}}
                    <li><a href="{{.Url}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </header>
        <main>
            <h2>
                {{.Post.Title}}
                [<a href="{{.BaseUrl}}">{{.Messages.CancelLinkLabel}}</a>]
            </h2>
            <div>
                <div>
                    {{.Messages.PostAuthorLabel}} {{template "profileLink" .Post.Creator}}
                </div>
                <div>
                    {{.Messages.PostDateLabel}} {{.Post.Date}}
                </div>
            </div>
            <div>
                {{.Post.Content}}
            </div>
            <div class="pagination">
                {{if .PreviousPageNumber}}
                    <form action="{{.CurrentUrl}}" method="GET">
                        <div class="hidden">
                            <input type="text" name="pageNumber" value="{{.PreviousPageNumber}}"/>
                        </div>
                        <div><button type="submit">{{.Messages.PreviousPageLinkLabel}}</button></div>
                    </form>
                {{end}}
                {{if .NextPageNumber}}
                    <form action="{{.CurrentUrl}}" method="GET">
                        <div class="hidden">
                            <input type="text" name="pageNumber" value="{{.NextPageNumber}}"/>
                        </div>
                        <div><button type="submit">{{.Messages.NextPageLinkLabel}}</button></div>
                    </form>
                {{end}}
            </div>
            {{$postId := .Post.PostId}}
            {{if .AllowedToCreate}}
                <form action="{{.BaseUrl}}comment/save/{{$postId}}" method="POST">
                    <div><textarea name="comment" rows="20" cols="80">{{.Messages.LeaveCommentLabel}}</textarea></div>
                    <div><button type="submit">{{.Messages.CreateLinkLabel}}</button></div>
                </form>
            {{end}}
            {{with .CommentMsg}}
                <div class="error">{{.}}</div>
            {{end}}
            <ul>
                {{$baseUrl := .BaseUrl}}
                {{if .AllowedToDelete}}
                    {{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
                    {{range .Comments}}
                        <li>
                            <ul>
                                <li>{{template "profilePictureLink" .Creator}}</li>
                                <li>{{.Date}}</li>
                                <li>{{.Text}}</li>
                                <li><a href="{{$baseUrl}}comment/delete/{{$postId}}/{{.Id}}">{{$deleteLinkLabel}}</a></li>
                            </ul>
                        </li>
                    {{end}}
                {{else}}
                    {{range .Comments}}
                        <li>
                            <ul>
                                <li>{{template "profilePictureLink" .Creator}}</li>
                                <li>{{.Date}}</li>
                                <li>{{.Text}}</li>
                            </ul>
                        </li>
                    {{end}}
                {{end}}
            </ul>
        </main>
        <footer>
        </footer>
    </body>
</html>
