{{define "profileLink"}}
    <a href="/profile/view/{{.Id}}">{{.Login}}</a>
{{end}}
{{define "profilePicture"}}
    <img src="/profilePic/{{.Id}}" alt="{{.Login}}"/>
{{end}}
{{define "profilePictureLink"}}
    <a href="/profile/view/{{.Id}}">
        {{template "profilePicture" .}}
    </a>
{{end}}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Title - {{.PageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <script type="text/javascript" src="/static/js/wasm_exec.js"/>
        <script type="text/javascript" src="/static/js/main.js"/>
    </head>
    <body>
        <header>
            <h1>{{.PageTitle}}</h1>
            {{if .LoginUrl}}
                <p>
                    {{if .Login}}
                        {{.Messages.WelcomeLabel}} {{.Login}}
                        <a href="{{.LoginUrl}}">{{.Messages.LoginLinkLabel}}</a>
                    {{else}}
                        <a href="{{.LoginUrl}}">{{.Messages.LogoutLinkLabel}}</a>
                    {{end}}
                </p>
            {{end}}
            {{with .ErrorMsg}}
                <div class="error">{{.}}</div>
            {{end}}
            <p>
                {{range .Ariane}}
                    / <a href="{{.Url}}">{{.Name}}</a>
                {{end}}
            </p>
            <ul>
                {{range .SubPages}}
                    <li><a href="{{.Url}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </header>
        <main>
            <h2>{{.WikiTitle}}</h2>
            <ul>
                {{$baseUrl := .BaseUrl}}
                {{$wikiTitle := .WikiTitle}}
                {{$viewLinkLabel := .Messages.ViewLinkLabel}}
                {{if .AllowedToDelete}}
                    {{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
                    {{range .Versions}}
                        <li>
                            <ul>
                                <li>{{.Number}}</li>
                                <li>{{template "profileLink" .Creator}}</li>
                                <li><a href="{{$baseUrl}}view/{{$wikiTitle}}?version={{.Number}}">{{$viewLinkLabel}}</a></li>
                                <li><a href="{{$baseUrl}}delete/{{$wikiTitle}}?version={{.Number}}">{{$deleteLinkLabel}}</a></li>
                            </ul>
                        </li>
                    {{end}}
                {{else}}
                    {{range .Versions}}
                        <li>
                            <ul>
                                <li>{{.Number}}</li>
                                <li>{{template "profileLink" .Creator}}</li>
                                <li><a href="{{$baseUrl}}view/{{$wikiTitle}}?version={{.Number}}">{{$viewLinkLabel}}</a></li>
                            </ul>
                        </li>
                    {{end}}
                {{end}}
            </ul>
        </main>
        <footer>
        </footer>
    </body>
</html>
