
<h2>
    {{.Messages.EditLabel}} {{.ViewedUser.Login}}
    <a href="/admin/user/view/{{.ViewedUser.Id}}" role="button">{{.Messages.CancelLinkLabel}}</a>
</h2>

<form action="/admin/user/save/{{.ViewedUser.Id}}" method="POST">
    {{range .Groups}}
        <details>
            <summary>{{.DisplayName}}</summary>
            <fieldset>
                {{$groupName := .Name}}
                {{range .Roles}}
                    <label>
                        {{.Name}}
                        ({{range .Actions}}
                            {{.}}
                        {{end}})
                        <input type="checkbox" name="roles" value="{{.Name}}/{{$groupName}}" checked role="switch"/>
                    </label>
                {{end}}
                {{range .AddableRoles}}
                    <label>
                        {{.Name}}
                        ({{range .Actions}}
                            {{.}}
                        {{end}})
                        <input type="checkbox" name="roles" value="{{.Name}}/{{$groupName}}" role="switch"/>
                    </label>
                {{end}}
            </fieldset>
        </details>
    {{end}}
    <button type="submit">{{.Messages.SaveLinkLabel}}</button>
</form>
