
<h2>
    {{.ViewedUser.Login}} ({{.Messages.RegistredAtLabel}} {{.ViewedUser.RegistredAt}})
    {{if .AllowedToUpdate}}
        <a href="/profile/edit" role="button">{{.Messages.EditLinkLabel}}</a>
    {{end}}
</h2>

<div>{{template "profilePicture" .ViewedUser}}</div>

<div>{{.ViewedUser.Desc}}</div>

<ul>
    {{range $key, $value := .ViewedUser.Info}}
        <li>
            <ul>
                <li>{{$key}}</li>
                <li>{{$value}}</li>
            </ul>
        </li>
    {{end}}
</ul>

{{range .UserRight}}
    <div>
        <p>{{.DisplayName}}</p>
        <ul>
            {{range .Roles}}
                <li>
                    {{.Name}}
                    ({{range .Actions}}
                        {{.}}
                    {{end}})
                </li>
            {{end}}
        </ul>
    </div>
{{end}}
