
<h2>
    {{.Messages.EditLabel}} {{.WikiTitle}}
    {{if ne .WikiVersion "0"}}
        <a href="{{.BaseUrl}}view/{{.WikiTitle}}" role="button">{{.Messages.CancelLinkLabel}}</a>
    {{end}}
</h2>

<form action="{{.BaseUrl}}save/{{.WikiTitle}}" method="POST">
    <textarea name="content" rows="20">{{.WikiContent}}</textarea>
    <div class="hide">
        <input type="text" name="version" value="{{.WikiVersion}}"/>
    </div>
    <button type="submit">{{.Messages.SaveLinkLabel}}</button>
</form>
