
{{$baseUrl := .BaseUrl}}
{{$wikiTitle := .WikiTitle}}
<h2>
    {{$wikiTitle}}
    <a href="{{$baseUrl}}view/{{$wikiTitle}}" role="button">{{.Messages.CancelLinkLabel}}</a>
</h2>

{{$viewLinkLabel := .Messages.ViewLinkLabel}}
{{if .AllowedToDelete}}
    {{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
    {{range .Versions}}
        <div class="grid">
            <p><a href="{{$baseUrl}}view/{{$wikiTitle}}?version={{.Number}}">{{.Number}}</a></p>
            <p>{{template "profileLink" .Creator}}</p>
            <p><a href="{{$baseUrl}}delete/{{$wikiTitle}}?version={{.Number}}" class="contrast" role="button">{{$deleteLinkLabel}}</a></p>
        </div>
    {{end}}
{{else}}
    {{range .Versions}}
        <div class="grid">
            <p><a href="{{$baseUrl}}view/{{$wikiTitle}}?version={{.Number}}">{{.Number}}</a></p>
            <p>{{template "profileLink" .Creator}}</p>
        </div>
    {{end}}
{{end}}
