
<h2>
    {{.Messages.CreateThreadTitle}}
    <a href="{{.BaseUrl}}" role="button">{{.Messages.CancelLinkLabel}}</a>
</h2>

<form id="createThreadForm" action="{{.BaseUrl}}save" method="POST">
    <label>
        {{.Messages.TitleLabel}}
        <input type="text" name="title" required-message="errorEmptyThreadTitleMessage"/>
    </label>
    <textarea name="message" rows="5" required-message="errorEmptyForumMessageMessage"></textarea>
    <div class="hide">
        {{/* to allow JavaScript or WebAssembly to display a localized error message */}}
        <span id="errorEmptyThreadTitleMessage">{{.Messages.EmptyThreadTitle}}</span>
        <span id="errorEmptyForumMessageMessage">{{.Messages.EmptyForumMessage}}</span>
    </div>
    <button type="button" validate-form="createThreadForm">{{.Messages.CreateLinkLabel}}</button>
</form>
