
<h2>{{.Total}} {{.Messages.ThreadsLabel}}</h2>

{{template "search" .}}

{{template "paginate" .}}

{{if .AllowedToCreate}}
    <p><a href="{{.CurrentUrl}}create" class="secondary" role="button">{{.Messages.NewLinkLabel}}</a></p>
{{end}}

{{$baseUrl := .CurrentUrl}}
{{$viewLinkLabel := .Messages.ViewLinkLabel}}
{{if .AllowedToDelete}}
    {{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
    {{range .Threads}}
        <div class="grid">
            <p><a href="{{$baseUrl}}view/{{.Id}}">{{.Text}}</a></p>
            <p>{{template "profileLink" .Creator}}</p>
            <p>{{.Date}}</p>
            <p><a href="{{$baseUrl}}delete/{{.Id}}" class="contrast" role="button">{{$deleteLinkLabel}}</a></p>
        </div>
    {{end}}
{{else}}
    {{range .Threads}}
        <div class="grid">
            <p><a href="{{$baseUrl}}view/{{.Id}}">{{.Text}}</a></p>
            <p>{{template "profileLink" .Creator}}</p>
            <p>{{.Date}}</p>
        </div>
    {{end}}
{{end}}
