
<h2>
    {{.Thread.Text}}
    <a href="{{.BaseUrl}}" role="button">{{.Messages.CancelLinkLabel}}</a>
</h2>

{{template "search" .}}

{{template "paginate" .}}

{{$threadId := .Thread.Id}}
{{$baseUrl := .BaseUrl}}
{{if .AllowedToDelete}}
    {{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
    {{range .ForumMessages}}
        <div class="grid">
            {{template "profilePictureLink" .Creator}}
            <div>
                <p>{{.Date}}</p>
                <p>{{.Text}}</p>
            </div>
            <p><a href="{{$baseUrl}}message/delete/{{$threadId}}/{{.Id}}" class="contrast" role="button">{{$deleteLinkLabel}}</a></p>
        </div>
    {{end}}
{{else}}
    {{range .ForumMessages}}
        <div class="grid">
            {{template "profilePictureLink" .Creator}}
            <div>
                <p>{{.Date}}</p>
                <p>{{.Text}}</p>
            </div>
        </div>
    {{end}}
{{end}}

{{if .AllowedToCreate}}
    <form id="createForumMessageForm" action="{{.BaseUrl}}message/save/{{$threadId}}" method="POST">
        <textarea id="forumMessageField" name="message" rows="5" placeholder="{{.Messages.ResponseMessageLabel}}"></textarea>
        <div class="hide">
            {{/* to allow JavaScript or WebAssembly to display a localized error message */}}
            <span id="errorEmptyForumMessageMessage">{{.Messages.EmptyForumMessage}}</span>
        </div>
        <button type="button" id="createForumMessageButton" class="secondary">{{.Messages.PublishLinkLabel}}</button>
    </form>
{{end}}
