{{define "profileLink"}}
    <a href="/profile/view/{{.Id}}">{{.Login}}</a>
{{end}}
{{define "profilePicture"}}
    <img src="/profile/picture/{{.Id}}" alt="{{.Login}}" width=100/>
{{end}}
{{define "profilePictureLink"}}
    <a href="/profile/view/{{.Id}}">
        {{template "profilePicture" .}}
    </a>
{{end}}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>SiteTitle - {{.PageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <script type="text/javascript" src="/static/js/wasm_exec.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <script type="text/javascript" src="/static/js/wiki_link.js"></script>
        {{.WidgetHeader}}
    </head>
    <body>
        <header>
            <h1>{{.PageTitle}}</h1>
            {{if .LoginUrl}}
                <ul class="user-tools">
                    {{if .Login}}
                        <li>{{.Messages.WelcomeLabel}} {{template "profileLink" .}}</li>
                        <li><a href="/settings">{{.Messages.PageTitleSettings}}</a></li>
                        {{if .ViewAdmin}}
                            <li><a href="/admin">{{.Messages.PageTitleAdmin}}</a></li>
                        {{end}}
                        <li><a href="{{.LoginUrl}}">{{.Messages.LogoutLinkLabel}}</a></li>
                    {{else}}
                        <li><a href="{{.LoginUrl}}">{{.Messages.LoginLinkLabel}}</a></li>
                    {{end}}
                </ul>
            {{end}}
            {{with .ErrorMsg}}
                <div class="error">{{.}}</div>
            {{end}}
            <p class="ariane">
                <a href="/">SiteTitle</a>
                {{range .Ariane}}
                    / <a href="{{.Url}}">{{.Name}}</a>
                {{end}}
            </p>
            <ul class="sub-pages">
                {{range .SubPages}}
                    <li><a href="{{.Url}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </header>
        <main>
            {{.WidgetBody}}
        </main>
        <footer>
        </footer>
    </body>
</html>
