<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Title - {{.PageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <script type="text/javascript" src="/static/main.js"/>
        {{.Js}}
    </head>
    <body>
        <header>
            <h1>{{.PageTitle}}</h1>
            {{if .LoginUrl}}
                <p>
                    {{if .Login}}{{.Welcome}}&nbsp;{{.Login}}&nbsp;{{end}}
                    <a href="{{.LoginUrl}}">{{.LoginLinkName}}</a>
                </p>
            {{end}}
            {{with .ErrorMsg}}
                <div class="error">{{.}}</div>
            {{end}}
            <p>
                {{range .Ariane}}
                    /&nbsp;<a href="{{.Url}}">{{.Name}}</a>&nbsp;
                {{end}}
            </p>
            <ul>
                {{range .SubPages}}
                    <li><a href="{{.Url}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </header>
        <main>
            {{.Body}}
        </main>
        <footer>
        </footer>
    </body>
</html>
