
<h2>{{.Messages.RoleListTitle}}</h2>

{{$groupDescPublic := .Messages.GroupDescPublic}}
{{$editLinkLabel := .Messages.EditLinkLabel}}
{{$deleteLinkLabel := .Messages.DeleteLinkLabel}}
{{$newLinkLabel := .Messages.NewLinkLabel}}
{{range .Groups}}
    <details>
        <summary>{{.DisplayName}}</summary>
        {{$groupName := .Name}}
        {{if eq $groupName "public"}}
            <p>{{$groupDescPublic}}</p>
        {{else}}
            {{range .Roles}}
                <div class="grid">
                    <p>
                        {{.Name}}
                        ({{range .Actions}}
                            {{.}}
                        {{end}})
                    </p>
                    <p><a href="/admin/role/edit/{{.Name}}/{{$groupName}}" role="button">{{$editLinkLabel}}</a></p>
                    {{/* delete role link (use an empty action form) */}}
                    <form action="/admin/role/save" method="POST">
                        <div class="hide">
                            <input type="text" name="RoleName" value="{{.Name}}"/>
                            <input type="text" name="Group" value="{{$groupName}}"/>
                        </div>
                        <button type="submit" class="contrast">{{$deleteLinkLabel}}</button>
                    </form>
                </div>
            {{end}}
            <p><a href="/admin/role/edit/new/{{$groupName}}" class="secondary" role="button">{{$newLinkLabel}}</a></p>
        {{end}}
    </details>
{{end}}
