
<form id="loginForm" action="/login/submit" method="POST">
    <label>
        {{.Messages.LoginLabel}}
        <input type="text" id="loginField" name="Login"/>
    </label>
    <label>
        {{.Messages.PasswordLabel}}
        <input type="password" id="passwordField" name="Password"/>
    </label>
    <div id="confirmPasswordBlock" class="hide">
        <label>
            {{.Messages.ConfirmPasswordLabel}}
            <input type="password" id="confirmPasswordField" name="ConfirmPassword"/>
        </label>
    </div>
    <div class="hide">
        <input type="text" id="loginRegisterField" name="Register"/>
        <input type="text" name="Redirect" value="{{.Redirect}}"/>
        <input type="text" name="PrevUrlWithError" value="{{.PrevUrlWithError}}"/>
        {{/* to allow JavaScript or WebAssembly to display a localized error message */}}
        <span id="errorEmptyLoginMessage">{{.Messages.EmptyLogin}}</span>
        <span id="errorEmptyPasswordMessage">{{.Messages.EmptyPassword}}</span>
        <span id="errorWrongConfimPasswordMessage">{{.Messages.WrongConfirmPassword}}</span>
    </div>
    <button type="button" id="loginSubmitButton">{{.Messages.LoginLinkLabel}}</button>
    <div>
        <button type="button" id="loginRegisterButton">{{.Messages.RegisterLinkLabel}}</button>
        <button type="button" id="loginRegisterButton2" class="hide">{{.Messages.RegisterLinkLabel}}</button>
    </div>
</form>
